In [1]:
import pandas as pd
import numpy as np

CSV

In [2]:
df_inf = pd.read_csv('Data\API_FP.CPI.TOTL.ZG_DS2_es_csv_v2_5689785.csv', skiprows = 3)

In [3]:
df_inf.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
1,NaN,AFE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.526577,NaN
2,Afganistán,AFG,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN

In [4]:
df_inf = df_inf[df_inf["Indicator Name"] == "Inflación, precios al consumidor (% anual)"]

In [5]:
df_inf.drop(columns = 'Indicator Code', inplace = True)

In [6]:
paises = ['India','México','China','Filipinas','Pakistán']

inf_filter = df_inf[df_inf['Country Name'].isin(paises)]

In [7]:
inf_filter = inf_filter.reset_index(drop=True)

In [8]:
cols_to_drop = [str(year) for year in range(1960, 2000)]
inf_filter = inf_filter.drop(cols_to_drop, axis=1)

In [9]:
inf_filter.dropna(axis=1, how='all',inplace = True)

In [10]:
inf_filter

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,"Inflación, precios al consumidor (% anual)",0.347811,0.719126,-0.731971,1.127603,3.824637,1.776414,1.649431,...,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015,1.973576
1,India,IND,"Inflación, precios al consumidor (% anual)",4.009436,3.779293,4.297152,3.805859,3.767252,4.246344,5.796523,...,10.017878,6.665657,4.906973,4.948216,3.328173,3.938826,3.729506,6.623437,5.131407,6.699034
2,México,MEX,"Inflación, precios al consumidor (% anual)",9.491561,6.367738,5.030727,4.546900,4.688409,3.988057,3.629468,...,3.806391,4.018616,2.720641,2.821708,6.041457,4.899350,3.635961,3.396834,5.689208,7.896276
3,Pakistán,PAK,"Inflación, precios al consumidor (% anual)",4.366665,3.148261,3.290345,2.914135,7.444625,9.063327,7.921084,...,7.692156,7.189384,2.529328,3.765119,4.085374,5.078057,10.578362,9.739993,9.496211,19.873860
4,Filipinas,PHL,"Inflación, precios al consumidor (% anual)",3.977125,5.345502,2.722772,2.289157,4.829211,6.516854,5.485232,...,2.582688,3.597823,0.674193,1.253699,2.853188,5.309347,2.392065,2.393162,3.927180,5.821158

EXCEL

In [11]:
df_inf2 = pd.read_excel('Data\API_FP.CPI.TOTL.ZG_DS2_es_excel_v2_5689779.xls', sheet_name = 'Data')

In [12]:
df_inf2.head(4)

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-07-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.0,2021.0,2022.0
3,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN

In [13]:
df_inf2.drop([2], axis= 0, inplace= True)

In [14]:
df_inf2.columns = df_inf2.columns.map(lambda x: str(int(x)) if isinstance(x, float) else x)

In [15]:
df_inf2 = df_inf2[df_inf2["Indicator Name"] == "Inflación, precios al consumidor (% anual)"]

KeyError: 'Indicator Name'

In [ ]:
df_inf2.drop(columns = 'Indicator Code', inplace = True)

In [ ]:
df_inf2.head(2)

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,Aruba,ABW,"Inflación, precios al consumidor (% anual)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
4,NaN,AFE,"Inflación, precios al consumidor (% anual)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.526577

In [ ]:
paises = ['India','México','China','Filipinas','Pakistán']

inf_filter2 = df_inf2[df_inf['Country Name'].isin(paises)]

In [ ]:
cols_to_drop = [str(year) for year in range(1960, 2000)]
inf_filter2 = inf_filter2.drop(cols_to_drop, axis=1)

In [ ]:
inf_filter2

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
43,China,CHN,"Inflación, precios al consumidor (% anual)",0.347811,0.719126,-0.731971,1.127603,3.824637,1.776414,1.649431,...,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015,1.973576
112,India,IND,"Inflación, precios al consumidor (% anual)",4.009436,3.779293,4.297152,3.805859,3.767252,4.246344,5.796523,...,10.017878,6.665657,4.906973,4.948216,3.328173,3.938826,3.729506,6.623437,5.131407,6.699034
157,México,MEX,"Inflación, precios al consumidor (% anual)",9.491561,6.367738,5.030727,4.546900,4.688409,3.988057,3.629468,...,3.806391,4.018616,2.720641,2.821708,6.041457,4.899350,3.635961,3.396834,5.689208,7.896276
187,Pakistán,PAK,"Inflación, precios al consumidor (% anual)",4.366665,3.148261,3.290345,2.914135,7.444625,9.063327,7.921084,...,7.692156,7.189384,2.529328,3.765119,4.085374,5.078057,10.578362,9.739993,9.496211,19.873860
190,Filipinas,PHL,"Inflación, precios al consumidor (% anual)",3.977125,5.345502,2.722772,2.289157,4.829211,6.516854,5.485232,...,2.582688,3.597823,0.674193,1.253699,2.853188,5.309347,2.392065,2.393162,3.927180,5.821158