In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data\MIG_31082023183055443.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_15496\4249001078.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data\MIG_31082023183055443.csv')

In [3]:
df.head(10)

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2000,2000,887.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2001,2001,456.0,NaN,NaN
2,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2002,2002,660.0,NaN,NaN
3,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2003,2003,1015.0,NaN,NaN
4,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2004,2004,1340.0,NaN,NaN
5,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2005,2005,3463.0,NaN,NaN
6,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2006,2006,3465.0,NaN,NaN
7,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2007,2007,2560.0,NaN,NaN
8,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2008,2008,2033.0,NaN,NaN
9,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2009,2009,1696.0,NaN,NaN

In [4]:
df = df[df["Variable"] == "Inflows of foreign population by nationality"]

In [5]:
df = df.drop(columns= ['VAR','GEN','Gender','YEA','Flag Codes','Flags'])

In [6]:
df_pivot = df.pivot_table(index=['Country of birth/nationality','Country'], columns='Year', values='Value')

In [7]:
df_pivot.head(10)

Year                                           2000    2001    2002    2003  \
Country of birth/nationality Country
Afghanistan                  Australia        887.0   456.0   660.0  1015.0
                             Austria          828.0  1539.0  1101.0   743.0
                             Belgium            NaN     NaN     NaN     NaN
                             Canada          2845.0  3182.0  2971.0  3479.0
                             Chile              2.0     2.0     1.0     2.0
                             Czech Republic     NaN     NaN     NaN    45.0
                             Denmark         1629.0  2819.0  1201.0   678.0
                             Estonia            NaN     NaN     NaN     NaN
                             Finland          238.0   327.0   354.0   234.0
                             France           189.0   248.0   142.0   149.0

Year                                           2004    2005    2006    2007  \
Country of birth/nationality Country
Afghanistan                  Australia       1340.0  3463.0  3465.0  2560.0
                             Austria          650.0   652.0   498.0   530.0
                             Belgium            NaN     NaN     NaN     NaN
                             Canada          2978.0  3436.0  3009.0  2652.0
                             Chile              1.0     6.0     2.0     0.0
                             Czech Republic    24.0    12.0    21.0   202.0
                             Denmark          455.0   233.0   127.0   114.0
                             Estonia            0.0     0.0     0.0     0.0
                             Finland          284.0   264.0   261.0   242.0
                             France           136.0   151.0   134.0   114.0

Year                                           2008    2009  ...    2011  \
Country of birth/nationality Country                         ...
Afghanistan                  Australia       2033.0  1696.0  ...  2030.0
                             Austria          958.0  1422.0  ...  2908.0
                             Belgium          138.0   150.0  ...  3080.0
                             Canada          2110.0  1745.0  ...  2203.0
                             Chile              0.0     1.0  ...     1.0
                             Czech Republic    21.0    13.0  ...    25.0
                             Denmark          154.0   325.0  ...   710.0
                             Estonia            1.0     0.0  ...     1.0
                             Finland          219.0   226.0  ...   373.0
                             France           172.0   215.0  ...   448.0

Year                                           2012    2013    2014     2015  \
Country of birth/nationality Country
Afghanistan                  Australia       1623.0  2178.0  5686.0   3323.0
                             Austria         3756.0  2305.0  3171.0  19505.0
                             Belgium         2071.0  1138.0  1134.0   7453.0
                             Canada          2635.0  2003.0  1489.0   2587.0
                             Chile              3.0     9.0     0.0      5.0
                             Czech Republic    25.0    24.0    32.0     55.0
                             Denmark          540.0   645.0   526.0    267.0
                             Estonia            0.0     1.0     0.0      5.0
                             Finland          593.0   627.0   515.0    394.0
                             France           646.0   895.0   765.0    630.0

Year                                            2016    2017    2018    2019  \
Country of birth/nationality Country
Afghanistan                  Australia        3197.0  3566.0  3783.0  2207.0
                             Austria         11660.0  2103.0  1253.0  1443.0
                             Belgium          2634.0  1551.0  2201.0  3761.0
                             Canada           2635.0  3440.0  3560.0  3900.0
                             Chile               4.0     NaN     NaN     NaN
                             Czech Republic     84.0    86.0    57.0    13.0
                             Denmark           361.0   589.0   377.0   228.0
                             Estonia            16.0    19.0     3.0     2.0
                             Finland          1864.0   879.0   681.0   694.0
                             France           1706.0  4986.0  5298.0  5494.0

Year                                           2020
Country of birth/nationality Country
Afghanistan                  Australia       2229.0
                             Austria         1492.0
                             Belgium         3163.0
                             Canada          1660.0
                             Chile              NaN
                             Czech Republic    13.0
                             Denmark          168.0
                             Estonia            NaN
                             Finland          599.0
                             France          5244.0

[10 rows x 21 columns]

In [8]:
countries = ['India','Mexico','China','Philippines','Pakistan']

In [9]:
df_filtered = df_pivot.loc[countries]

In [10]:
df_filtered.head(10)

Year                                            2000     2001     2002  \
Country of birth/nationality Country
India                        Australia        4582.0   5812.0   7573.0
                             Austria          1236.0    836.0   1405.0
                             Belgium           662.0    852.0    959.0
                             Canada          26123.0  27904.0  28838.0
                             Chile              37.0     77.0     83.0
                             Czech Republic      NaN      NaN      NaN
                             Denmark           208.0    248.0    216.0
                             Estonia             NaN      NaN      NaN
                             Finland           158.0    186.0    188.0
                             France           1004.0   1142.0   1261.0

Year                                            2003     2004     2005  \
Country of birth/nationality Country
India                        Australia        8194.0  11278.0  12788.0
                             Austria          1428.0   1187.0   1255.0
                             Belgium          1101.0   1213.0   1339.0
                             Canada          27155.0  28197.0  36179.0
                             Chile              98.0    116.0    126.0
                             Czech Republic    153.0    121.0    186.0
                             Denmark           343.0    402.0    487.0
                             Estonia             NaN      5.0      5.0
                             Finland           195.0    315.0    381.0
                             France           1221.0   1155.0   1104.0

Year                                            2006     2007     2008  \
Country of birth/nationality Country
India                        Australia       15240.0  19823.0  22725.0
                             Austria           707.0    907.0    944.0
                             Belgium          1516.0   1640.0   2058.0
                             Canada          33773.0  28729.0  28255.0
                             Chile             137.0    134.0    161.0
                             Czech Republic    377.0    366.0    310.0
                             Denmark           489.0    888.0   1020.0
                             Estonia            12.0     10.0     16.0
                             Finland           504.0    534.0    623.0
                             France           1551.0   1769.0   1816.0

Year                                            2009  ...     2011     2012  \
Country of birth/nationality Country                  ...
India                        Australia       25280.0  ...  21855.0  27830.0
                             Austria           986.0  ...   1043.0   1251.0
                             Belgium          1787.0  ...   2084.0   1919.0
                             Canada          29448.0  ...  27485.0  30915.0
                             Chile             117.0  ...    142.0    175.0
                             Czech Republic    295.0  ...    208.0    288.0
                             Denmark           813.0  ...   1073.0    905.0
                             Estonia            14.0  ...     20.0     28.0
                             Finland           612.0  ...    573.0    572.0
                             France           1880.0  ...   2136.0   2285.0

Year                                            2013     2014     2015  \
Country of birth/nationality Country
India                        Australia       38123.0  39642.0  34710.0
                             Austria          1194.0   1332.0   1411.0
                             Belgium          2148.0   1949.0   2181.0
                             Canada          33078.0  38330.0  39525.0
                             Chile             122.0    135.0    213.0
                             Czech Republic    313.0    428.0    550.0
                             Denmark          1128.0   1371.0   1615.0
                             Estonia            47.0     25.0     80.0
                             Finland           676.0    826.0    821.0
                             France           2505.0   2570.0   2705.0

Year                                            2016     2017     2018  \
Country of birth/nationality Country
India                        Australia       38552.0  40019.0  33065.0
                             Austria          1412.0   1471.0   1457.0
                             Belgium          2356.0   2959.0   3337.0
                             Canada          39795.0  51655.0  69980.0
                             Chile             239.0      NaN      NaN
                             Czech Republic    751.0   1001.0   1158.0
                             Denmark          1897.0   1863.0   2083.0
                             Estonia           106.0    132.0    172.0
                             Finland           676.0    730.0   1046.0
                             France           2940.0   3433.0   4121.0

Year                                            2019     2020
Country of birth/nationality Country
India                        Australia       32630.0  24498.0
                             Austria          1680.0   1166.0
                             Belgium          3326.0   1961.0
                             Canada          85590.0  42865.0
                             Chile               NaN      NaN
                             Czech Republic   1519.0    862.0
                             Denmark          2130.0   1304.0
                             Estonia           296.0      NaN
                             Finland          1432.0    986.0
                             France           4221.0   2162.0

[10 rows x 21 columns]

In [19]:
df_filtered.dropna(inplace = True)

HACER UN TOP 5 DEL ULTIMO AÑO

In [20]:
df3 = df_filtered.copy()

In [21]:
total_migrantes = df3.sum(axis=1)

In [22]:
total_migrantes

Country of birth/nationality  Country
India                         Australia        487696.0
                              Austria           25253.0
                              Belgium           38771.0
                              Canada           788043.0
                              Denmark           21396.0
                                                 ...
Pakistan                      Norway            11965.0
                              Poland             4935.0
                              Spain            155390.0
                              Sweden            24397.0
                              United States    328729.0
Length: 98, dtype: float64

In [23]:
# Obtiene el top 5 de países de destino para cada país de origen
top_5 = total_migrantes.groupby('Country of birth/nationality').apply(lambda x: x.nlargest(5).index)

In [24]:
mask = pd.Series(False, index=df3.index)
for pais_origen, paises_destino in top_5.items():
    mask |= ((df3.index.get_level_values('Country of birth/nationality') == pais_origen) & 
             df3.index.get_level_values('Country').isin(paises_destino.get_level_values(1)))
df3_filtrado = df3[mask]

In [25]:

df3_filtrado

Year                                            2000      2001      2002  \
Country of birth/nationality Country
India                        Australia        4582.0    5812.0    7573.0
                             Canada          26123.0   27904.0   28838.0
                             Germany          6544.0    8949.0    9433.0
                             New Zealand      4269.0    6317.0    9887.0
                             United States   41903.0   70032.0   70823.0
Mexico                       Canada           1658.0    1939.0    1919.0
                             France            293.0     364.0     386.0
                             Germany          1768.0    1667.0    1870.0
                             Spain            1395.0    1788.0    2746.0
                             United States  173493.0  205560.0  218822.0
China                        Australia        8055.0    8295.0    9102.0
                             Canada          36750.0   40365.0   33307.0
                             Japan           75281.0   86437.0   88619.0
                             Korea           64822.0   66979.0   55721.0
                             United States   45585.0   56267.0   61082.0
Philippines                  Australia        3604.0    3391.0    3442.0
                             Canada          10119.0   12928.0   11011.0
                             Japan           74225.0   84886.0   87152.0
                             Korea           12745.0    7446.0    7409.0
                             United States   42343.0   52919.0   51040.0
Pakistan                     Canada          14201.0   15354.0   14173.0
                             Germany          3409.0    3174.0    2966.0
                             Italy            3273.0    3448.0    3417.0
                             Spain            1655.0    1789.0    1782.0
                             United States   14504.0   16393.0   13694.0

Year                                            2003      2004      2005  \
Country of birth/nationality Country
India                        Australia        8194.0   11278.0   12788.0
                             Canada          27155.0   28197.0   36179.0
                             Germany          9227.0    9125.0    8364.0
                             New Zealand      7403.0    4920.0    4292.0
                             United States   50228.0   70151.0   84680.0
Mexico                       Canada           1754.0    2257.0    2836.0
                             France            400.0     422.0     416.0
                             Germany          2048.0    2108.0    2213.0
                             Spain            2672.0    5254.0    5434.0
                             United States  115585.0  175411.0  161445.0
China                        Australia        9374.0   12523.0   15193.0
                             Canada          36439.0   36567.0   42568.0
                             Japan           92218.0   90300.0  105824.0
                             Korea           52418.0   67409.0  115811.0
                             United States   40568.0   55494.0   69933.0
Philippines                  Australia        3633.0    4444.0    4766.0
                             Canada          12758.0   14003.0   18137.0
                             Japan           93404.0   96200.0   63460.0
                             Korea            9979.0   10101.0   16529.0
                             United States   45250.0   57846.0   60746.0
Pakistan                     Canada          13205.0   13399.0   14314.0
                             Germany          3277.0    3451.0    2369.0
                             Italy            5288.0    7457.0    6457.0
                             Spain            1736.0    9351.0   12439.0
                             United States    9415.0   12086.0   14926.0

Year                                            2006      2007      2008  \
Country of birth/nationality Country
India                        Australia       15240.0   19823.0   22725.0
                             Canada          33773.0   28729.0   28255.0
                             Germany          8911.0    9367.0   11403.0
                             New Zealand      4478.0    5976.0    8016.0
                             United States   61369.0   65353.0   61663.0
Mexico                       Canada           2844.0    3238.0    2853.0
                             France            564.0     550.0     618.0
                             Germany          2636.0    2510.0    2899.0
                             Spain            5533.0    5874.0    4832.0
                             United States  173749.0  148640.0  186956.0
China                        Australia       17267.0   21085.0   20694.0
                             Canada          33493.0   27629.0   30030.0
                             Japan          112532.0  125338.0  134178.0
                             Korea          161156.0  177034.0  161734.0
                             United States   87307.0   76655.0   81403.0
Philippines                  Australia        5404.0    6112.0    7078.0
                             Canada          18399.0   19833.0   24883.0
                             Japan           28303.0   25267.0   20973.0
                             Korea           17851.0   12227.0    9125.0
                             United States   74606.0   72596.0   53350.0
Pakistan                     Canada          13127.0   10123.0    8984.0
                             Germany          1964.0    1720.0    2169.0
                             Italy            4088.0    3548.0    5706.0
                             Spain            8222.0   10645.0    8872.0
                             United States   17418.0   13492.0   19889.0

Year                                            2009  ...      2011      2012  \
Country of birth/nationality Country                  ...
India                        Australia       25280.0  ...   21855.0   27830.0
                             Canada          29448.0  ...   27485.0   30915.0
                             Germany         12009.0  ...   15352.0   18063.0
                             New Zealand      8530.0  ...    8380.0    8564.0
                             United States   55585.0  ...   67399.0   64694.0
Mexico                       Canada           3092.0  ...    3947.0    4227.0
                             France            733.0  ...     763.0     714.0
                             Germany          2777.0  ...    3495.0    3485.0
                             Spain            3815.0  ...    4591.0    4294.0
                             United States  163239.0  ...  142967.0  145955.0
China                        Australia       22297.0  ...   28718.0   25308.0
                             Canada          29617.0  ...   28491.0   33009.0
                             Japan          121227.0  ...  100358.0  106957.0
                             Korea          117563.0  ...  149208.0  127289.0
                             United States   64767.0  ...   87855.0   82366.0
Philippines                  Australia        8904.0  ...   10651.0   12777.0
                             Canada          28568.0  ...   36758.0   34299.0
                             Japan           15780.0  ...   13599.0   15412.0
                             Korea            8895.0  ...    9565.0    9858.0
                             United States   59408.0  ...   56582.0   56919.0
Pakistan                     Canada           7213.0  ...    7467.0   11208.0
                             Germany          2756.0  ...    5395.0    6513.0
                             Italy            7858.0  ...    7452.0    8754.0
                             Spain            6425.0  ...   11513.0    8345.0
                             United States   21879.0  ...   15813.0   15025.0

Year                                            2013      2014      2015  \
Country of birth/nationality Country
India                        Australia       38123.0   39642.0   34710.0
                             Canada          33078.0   38330.0   39525.0
                             Germany         19455.0   22374.0   26113.0
                             New Zealand      9055.0   16214.0   19537.0
                             United States   67310.0   76256.0   62828.0
Mexico                       Canada           3995.0    4477.0    3231.0
                             France            724.0     752.0     842.0
                             Germany          3619.0    4763.0    4592.0
                             Spain            3332.0    3555.0    3914.0
                             United States  135068.0  133158.0  158321.0
China                        Australia       27898.0   27122.0   27924.0
                             Canada          34115.0   24626.0   19531.0
                             Japan           93003.0   98630.0  100571.0
                             Korea          178606.0  192858.0  177001.0
                             United States   72092.0   75868.0   74390.0
Philippines                  Australia       11032.0   10345.0   11942.0
                             Canada          29532.0   40031.0   50825.0
                             Japan           16430.0   19912.0   23957.0
                             Korea           11963.0   10717.0    9867.0
                             United States   54272.0   49213.0   55954.0
Pakistan                     Canada          12609.0    9114.0   11329.0
                             Germany          7966.0    9549.0   24496.0
                             Italy            7794.0    9558.0   11361.0
                             Spain            6484.0    5311.0    4811.0
                             United States   13276.0   18733.0   18097.0

Year                                            2016      2017      2018  \
Country of birth/nationality Country
India                        Australia       38552.0   40019.0   33065.0
                             Canada          39795.0   51655.0   69980.0
                             Germany         27683.0   29535.0   33678.0
                             New Zealand     14733.0   13992.0   14294.0
                             United States   63016.0   59068.0   58863.0
Mexico                       Canada           3400.0    3135.0    3310.0
                             France            882.0     857.0     903.0
                             Germany          4500.0    4888.0    4994.0
                             Spain            3849.0    5036.0    5339.0
                             United States  173543.0  170102.0  161584.0
China                        Australia       29077.0   29277.0   25712.0
                             Canada          26855.0   30280.0   29710.0
                             Japan          103294.0  109763.0  114902.0
                             Korea          165494.0  156848.0  169336.0
                             United States   81913.0   71799.0   65597.0
Philippines                  Australia       11968.0   12145.0   10916.0
                             Canada          41815.0   40855.0   35050.0
                             Japan           26226.0   29617.0   31324.0
                             Korea            9530.0    8988.0   10053.0
                             United States   52194.0   48694.0   46889.0
Pakistan                     Canada          11335.0    7655.0    9490.0
                             Germany         12207.0    9007.0    9821.0
                             Italy           14735.0   14978.0   13245.0
                             Spain            6371.0    6580.0    8728.0
                             United States   19218.0   17030.0   15426.0

Year                                            2019      2020
Country of birth/nationality Country
India                        Australia       32630.0   24498.0
                             Canada          85590.0   42865.0
                             Germany         39103.0   20510.0
                             New Zealand     15124.0    9130.0
                             United States   53787.0   45805.0
Mexico                       Canada           3460.0    2430.0
                             France           1262.0     753.0
                             Germany          4952.0    2513.0
                             Spain            6170.0    3653.0
                             United States  155710.0  100046.0
China                        Australia       25464.0   18798.0
                             Canada          30245.0   16525.0
                             Japan          131620.0   45243.0
                             Korea          138653.0   96256.0
                             United States   62344.0   41749.0
Philippines                  Australia        9184.0    8514.0
                             Canada          27820.0   10975.0
                             Japan           34720.0   12684.0
                             Korea            9149.0    2939.0
                             United States   45595.0   25209.0
Pakistan                     Canada          10795.0    6230.0
                             Germany         10108.0    6922.0
                             Italy            9931.0    9694.0
                             Spain           11623.0    7386.0
                             United States   13582.0   10164.0

[25 rows x 21 columns]