In [1]:
import pandas as pd
import numpy as np

CSV

In [2]:
df_pib = pd.read_csv('Data\API_NY.GDP.MKTP.CD_DS2_es_csv_v2_5721684.csv', skiprows=3)

In [3]:
df_pib.head(4)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,NaN,AFE,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afganistán,AFG,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,NaN,AFW,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN

In [4]:
df_pib = df_pib[df_pib["Indicator Name"] == "PIB (US$ a precios actuales)"]

In [5]:
df_pib.drop(columns = 'Indicator Code', inplace = True)

In [6]:
paises = ['India','México','China','Filipinas','Pakistán']

pib_filter = df_pib[df_pib['Country Name'].isin(paises)]

In [7]:
pib_filter = pib_filter.reset_index(drop=True)

In [8]:
cols_to_drop = [str(year) for year in range(1960, 2000)]
pib_filter = pib_filter.drop(cols_to_drop, axis=1)

In [9]:
pib_filter = pib_filter.applymap(lambda x: '{:.2f}'.format(x) if isinstance(x, float) else x)

In [10]:
pib_filter.dropna(axis=1, how='all',inplace = True)

In [19]:
pib_filter.drop('Unnamed: 67', axis=1, inplace=True)

In [20]:
pib_filter

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,PIB (US$ a precios actuales),1211331627479.00,1339400843164.88,1470557565965.51,1660280610709.71,1955346808095.44,2285961242869.55,2752118542130.40,...,9570470577244.86,10475624783235.60,11061573199439.70,11233314018690.10,12310491176727.30,13894907485398.90,14279968485748.00,14687743556969.60,17820459342451.20,17963170521079.80
1,India,IND,PIB (US$ a precios actuales),468394937262.37,485441014538.64,514937948870.08,607699285433.87,709148514804.66,820381595512.90,940259888792.14,...,1856721494834.64,2039126469963.35,2103588347241.77,2294796889945.04,2651474263257.15,2702929639861.50,2835606242052.48,2671595389575.70,3150306834279.65,3385089881935.39
2,México,MEX,PIB (US$ a precios actuales),707909864021.78,756702925694.04,772109710670.87,729335024013.22,782242912348.37,877476892365.26,975383402912.58,...,1274443916251.64,1315356131262.48,1171870072962.76,1078493059306.95,1158912015259.01,1222405556421.13,1269009571610.76,1090514966785.91,1272838810896.09,1414187193992.25
3,Pakistán,PAK,PIB (US$ a precios actuales),82017743416.28,79484403984.88,79904985384.87,91760542940.07,107759683863.12,120055291992.94,137264061106.04,...,231218467669.57,244360858682.76,270556104886.46,313629998960.45,339205536454.45,356128167702.89,320909472926.46,300425609206.18,348262544719.25,376532751806.99
4,Filipinas,PHL,PIB (US$ a precios actuales),83669788254.73,78921234457.55,84307346432.13,87039092438.96,95002000250.42,107419977968.18,127652927611.90,...,283902829721.26,297483553299.59,306445871631.97,318627003965.99,328480738147.10,346841896890.49,376823404772.84,361751145432.40,394087362017.32,404284327311.71

Excel

In [13]:
df_pib2 = pd.read_csv('Data\API_NY.GDP.MKTP.CD_DS2_es_csv_v2_5721684.csv', skiprows=3)

In [14]:
df_pib2.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,NaN,AFE,PIB (US$ a precios actuales),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN

In [15]:
df_pib2.drop([0,1], axis= 0, inplace= True)

In [16]:
df_pib2.rename(columns = df_pib2.iloc[0], inplace = True)

In [17]:
df_pib2.drop([2], axis= 0, inplace= True)

In [18]:
df_pib2.columns = df_pib2.columns.map(lambda x: str(int(x)) if isinstance(x, float) else x)

ValueError: cannot convert float NaN to integer

In [ ]:
df_pib2 = df_pib2[df_pib2["Indicator Name"] == "PIB (US$ a precios actuales)"]

In [ ]:
df_pib2.drop(columns = 'Indicator Code', inplace = True)

In [ ]:
paises = ['India','México','China','Filipinas','Pakistán']

pib_filter2 = df_pib2[df_pib2['Country Name'].isin(paises)]

In [ ]:
pib_filter2 = pib_filter2.reset_index(drop=True)

In [ ]:
pib_filter2 = pib_filter2.applymap(lambda x: '{:.2f}'.format(x) if isinstance(x, float) else x)

In [ ]:
cols_to_drop = [str(year) for year in range(1960, 2000)]
pib_filter2 = pib_filter2.drop(cols_to_drop, axis=1)

In [ ]:
pib_filter2.head(2)

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,PIB (US$ a precios actuales),1211331627479.00,1339400843164.88,1470557565965.51,1660280610709.71,1955346808095.44,2285961242869.55,2752118542130.40,...,9570470577244.86,10475624783235.59,11061573199439.67,11233314018690.05,12310491176727.34,13894907485398.89,14279968485747.98,14687743556969.61,17820459342451.18,17963170521079.83
1,India,IND,PIB (US$ a precios actuales),468394937262.37,485441014538.64,514937948870.08,607699285433.87,709148514804.66,820381595512.90,940259888792.14,...,1856721494834.64,2039126469963.35,2103588347241.77,2294796889945.04,2651474263257.15,2702929639861.50,2835606242052.48,2671595389575.70,3150306834279.65,3385089881935.39